
<h2>What</h2>
<span>GhanaWeb is a maritime map-centric portal. The site will aggregate relevant maritime data and information and
    allow access for users and services by utilizing the <a href="http://maritimeconnectivity.net/" target="_blank" rel="noopener">Maritime Connectivity Platform</a>.</span>
<h3>Services available for all:</h3>
<ul>
    <li>Notices to Mariners and Navigational Warnings</li>
    <li>Locations of landing sites and tree stumps in Lake Volta</li>
    <li>OpenSeaMap.org overlay</li>
</ul>

<h2>Why</h2>
<span>GhanaWeb aims to serve the mariner in these ways:</span>
<ul>
    <li>Assist in planning a sea voyage</li>
    <li>Navigational aid on a sea voyage</li>
</ul>

<h2>How</h2>
<span>GhanaWeb uses the <a href="http://maritimeconnectivity.net" target="_blank" rel="noopener">Maritime Connectivity Platform (MCP)</a>
    in order to identify and retrieve relevant web services.<br>
    GhanaWeb is derived from <a href="https://balticweb.e-navigation.net/" target="_blank" rel="noopener">BalticWeb</a> which have been developed as
    part of the EU-funded <a href="http://efficiensea2.org/" rel="noopener" target="_blank">EfficenSea2</a> Project.

    </span>

<h3>Cookies and Local storage</h3>
<div>
        <span><small>GhanaWeb stores some information in the client's browser both in the local storage and with cookies
            i.e. the position and zoom level of the map for a smoother user experience.
            Each visit is tracked via Google Analytics to gather usage metrics of the site in order to continuously
            improve the user experience. Cookies are used at login as well.</small></span>
</div>
