<div class="col-xs-12">

    <h1>Content Disclaimer</h1>

    <div class="well">
        <p>This disclaimer applies to all information on GhanaWeb. By accessing GhanaWeb and its sub-sites, you accept
            the disclaimer.</p>

        <p>The content on GhanaWeb is provided for information purposes in order to enhance public access to details
            that may support safe navigation in and around Ghana. Every reasonable effort is made to present current and
            accurate
            information on GhanaWeb. Any errors will be regularly addressed. Information on GhanaWeb is subject to
            change without prior notice.</p>

        <p>GhanaWeb contain information that is created, compiled and maintained by a variety of sources both internal
            and external to the GMA. The GMA does not control, monitor or guarantee the information stemming from
            external sources.</p>

        <p>The information provided on GhanaWeb does not constitute a legal contract between the GMA and any person or
            entity.</p>

        <p>The GMA disclaims any liability for damages directly or indirectly related to the information provided on
            GhanaWeb, and stresses that the information provided does not in any way substitute safe and well-planned
            navigation by ships or alleviate the crew from its obligations in accordance with relevant rules,
            regulations and guidelines.</p>
    </div>
</div>