
<div id="maritimeweb-sidebar" uib-collapse="!$root.showgraphSidebar" class="maritimeweb-sidebar col-xs-10 col-sm-6 col-md-5 sidebar sidebar-normal"> <!-- uib-collapse="showgraphSidebar" -->
    <uib-tabset type="pills" justified="true" active="activeTabIndex" index="$index">


        <!-- NW-NM tab -->
        <uib-tab classes="btn-sm" ng-click="sidebarUncollapse()">
            <uib-tab-heading>
                <img src="/img/nwnm/nw16x16.png" alt="Navigational warning icon" />
                NW-NM
                <span class="badge sidebar-badge" ng-bind="nwNmMessages.length"></span>
            </uib-tab-heading>

            <div class="panel" ng-class="(nwNmServicesStatus=='true') ? 'panel-primary' : 'panel-default'">
                <div class="panel-heading cursor-default clearfix" ng-click="sidebarUncollapse()">
                    Navigationel Warnings and Notices to Mariners
                    <small tooltip="Refresh" class="glyphicon glyphicon-refresh"
                           ng-click="refreshNwNmServices()"></small>

                    <div class="small pull-right">
                        Display &nbsp;&nbsp;
                        <input type="checkbox" ng-model="nwNmType.NW" ng-change="nwNmTypeChanged()" aria-label="Display navigational warnings">&nbsp;NW
                        &nbsp;&nbsp;
                        <input type="checkbox" ng-model="nwNmType.NM" ng-change="nwNmTypeChanged()" aria-label="Display notices to mariners">&nbsp;NtM
                    </div>
                </div>

                <div class="panel-body">
                    <div class="message-service" ng-repeat="s in nwNmServices">
                        <input type="checkbox" ng-model="s.selected" ng-change="nwNmSelected(s)" aria-label="Choose service">&nbsp;{{s.name}}
                    </div>
                    <table class="table table-striped">
                        <tr ng-repeat-start="msg in nwNmMessages"
                            ng-if="$index == 0 || nwnmAreaHeading($index) != nwnmAreaHeading($index - 1)">
                            <td colspan="2" class="message-area-heading">
                                {{nwnmAreaHeading($index)}}
                            </td>
                        </tr>
                        <tr ng-repeat-end>
                            <td width="20" align="left" class="message-item">
                                <img ng-if="msg.mainType == 'NM'" src="/img/nwnm/nm20x20.png" alt="Notices to mariners icon"/>
                                <img ng-if="msg.mainType == 'NW'" src="/img/nwnm/nw20x20.png" alt="Navigational warning icon"/>
                            </td>
                            <td width="*" class="message-item">
                                <span ng-if="msg.shortId" class="badge label-message-id">{{msg.shortId}}</span>
                                <a href ng-click="showNwNmDetails(msg)">{{msg.descs[0].title}}</a>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </uib-tab>
    </uib-tabset>
</div>