
<div id="maritimeweb-sidebar" uib-collapse="!$root.showgraphSidebar" class="maritimeweb-sidebar col-11 col-sm-7 col-md-6 col-lg-5 sidebar sidebar-normal"> <!-- uib-collapse="showgraphSidebar" -->
    <uib-tabset type="pills" justified="true" active="activeTabIndex" index="$index">


        <!-- NW-NM tab -->
        <uib-tab ng-class="'btn-sm'" classes="btn-sm" ng-click="sidebarUncollapse()">
            <uib-tab-heading>
                <img src="/img/nwnm/nw16x16.png" alt="Navigational warning icon" />
                NW-NM
                <span class="badge badge-pill text-white sidebar-badge" ng-bind="nwNmMessages.length"></span>
            </uib-tab-heading>

            <div class="card">
                <div class="card-header bg-primary text-white cursor-default clearfix" ng-click="sidebarUncollapse()">
                    Navigationel Warnings and Notices to Mariners
                    <small tooltip="Refresh" ng-click="refreshNwNmServices()">
                        <i class="fa fa-sync"></i>
                    </small>

                    <div class="small float-right">
                        Display &nbsp;&nbsp;
                        <input type="checkbox" ng-model="nwNmType.NW" ng-change="nwNmTypeChanged()" aria-label="Display navigational warnings">&nbsp;NW
                        &nbsp;&nbsp;
                        <input type="checkbox" ng-model="nwNmType.NM" ng-change="nwNmTypeChanged()" aria-label="Display notices to mariners">&nbsp;NM
                    </div>
                </div>

                <div class="card-body">
                    <div class="message-service" ng-repeat="s in nwNmServices">
                        <input type="checkbox" ng-model="s.selected" ng-change="nwNmSelected(s)" aria-label="Choose service">&nbsp;{{s.name}}
                    </div>
                    <table class="table table-striped">
                        <tr ng-repeat-start="msg in nwNmMessages"
                            ng-if="$index == 0 || nwnmAreaHeading($index) != nwnmAreaHeading($index - 1)">
                            <td colspan="2" class="message-area-heading">
                                {{nwnmAreaHeading($index)}}
                            </td>
                        </tr>
                        <tr ng-repeat-end>
                            <td width="20" align="left" class="message-item">
                                <img ng-if="msg.mainType == 'NM'" src="/img/nwnm/nm20x20.png" alt="Notices to mariners icon"/>
                                <img ng-if="msg.mainType == 'NW'" src="/img/nwnm/nw20x20.png" alt="Navigational warning icon"/>
                            </td>
                            <td width="*" class="message-item">
                                <span ng-if="msg.shortId" class="badge-pill badge-dark label-message-id">{{msg.shortId}}</span>
                                <a href ng-click="showNwNmDetails(msg)">{{msg.descs[0].title}}</a>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </uib-tab>

        <!-- Vessels tab -->
        <uib-tab ng-class="'btn-sm'" classes="btn-sm" ng-click="sidebarUncollapse()">
            <uib-tab-heading classes="btn-sm" >
                <img src="/img/vessel_gray.png"/>
                &nbsp;Vessels
                <span class="badge sidebar-badge" ng-if="vessels.length>0" >{{vessels.length}} <i ng-if="vesselsinfo.maxnumberexceeded" class="fa fa-plus" aria-hidden="true"></i> </span>
            </uib-tab-heading>

<!--
                <div ng-if="!loggedIn" class="well" ng-click="sidebarUncollapse()">
                    <p class="cursor-default">Log in to access vessel data</p>
                    <button class="btn btn-default" ng-click="login()">Login</button>
                </div>
-->

                <!--<div class="panel panel-default" ng-if="loggedIn" ng-click="sidebarUncollapse()">-->
                <div class="card" ng-click="sidebarUncollapse()">

                    <div class="card-header bg-primary text-white cursor-default"><span class="glyphicon glyphicon-globe"></span> AIS information
                    </div>
                    <div class="card-body">
                        <p class="cursor-default"><i class="fa fa-ship" aria-hidden="true"></i> Position information from AIS providers</p>
                        <p class="small" ng-if="vesselsinfo.maxnumberexceeded">Note that the actual number of vessels in the areas is {{vesselsinfo.actualnumberofvessels}} but the number is reduced to {{vessels.length}} in order to increase performance. Zoom in to see all vessels in an area.</p>
                    </div>

                    <!-- Table -->
                    <table class="table"
                           ng-repeat="aService in mapTrafficLayers.getLayers().getArray()">

                        <tr ng-class="{'active':aService.getVisible()}">
                            <td><a href ng-bind="aService.get('title')"
                                   ng-click="toggleLayer(aService)"></a>
                            </td>
                        </tr>

                    </table>
                </div>

                <table ng-if="mapTrafficLayers.getLayers().getArray()[0].getVisible()" class="table table-striped">
                    <tr ng-repeat="vessel in vessels | orderBy: 'mmsi' | limitTo: 100">
                        <td class="vessel-item">
                            <img ng-src="{{iconForVessel(vessel)}}">
                        </td>
                        <td class="vessel-item"><span ng-if="vessel.mmsi">{{vessel.mmsi}}</span></td>
                        <td class="vessel-item"><a ng-href="#/vessel/{{vessel.mmsi}}">{{vessel.name}}</a></td>
                        <td class="vessel-item">{{toLonLat(vessel) | lonlat:{ decimals : 3, pp: true } }}</td>
                    </tr>
                </table>
        </uib-tab>

        <!-- Lake Volta tab -->
        <uib-tab ng-class="'btn-sm'" classes="btn-sm" ng-click="sidebarUncollapse()">
            <uib-tab-heading>
                Lake Volta
                <span class="badge badge-pill text-white sidebar-badge " ng-bind="voltaFeatures.length"></span>
            </uib-tab-heading>

            <div class="card">
                <div class="card-header bg-primary text-white cursor-default clearfix" ng-click="sidebarUncollapse()">
                    Landing sites, Routes and Fairways of the Lake Volta

                    <div class="small float-right">
                        Display &nbsp;&nbsp;
                        <input type="checkbox" ng-model="voltaDisplayToggle" ng-change="voltaDisplayChanged()" aria-label="Display Lake Volta features">&nbsp;All features
                    </div>
                </div>

                <div class="card-body">
                    <div class="message-service">
                        <input type="checkbox" ng-model="voltaWaypointDisplayToggle" ng-change="voltaWaypointDisplayChanged()" aria-label="Display proposed waypoints">&nbsp;Display proposed waypoints

                    </div>

                    <table class="table table-striped">
                        <tr ng-repeat-start="feature in voltaFeatures">
                            <td class="message-area-heading">
                                {{feature.heading}}
                            </td>
                        </tr>
                        <tr ng-repeat-end ng-repeat="f in feature.features">
                            <td class="message-item">
                                <a href ng-click="showFeatureDetails(feature, f)">{{f.heading}}</a>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </uib-tab>

    </uib-tabset>
</div>