<div class="modal-header">
    <h3 class="modal-title">Welcome to Ghananautical</h3>
</div>
<div class="modal-body">
    <div ng-include="'partials/about.html'"></div>
</div>

<div class="modal-footer">
    <div class="col-md-12 text-center">
        I hereby accept the use of cookies<br/>
        <button class="btn btn-success" style="background-color: #2B642B" type="button" ng-click="accept()" aria-label="Accept cookies">
            <i class="fa fa-check" aria-hidden="true"></i> Accept
        </button>
        <button class="btn btn-danger" style="background-color: #A82824" type="button" ng-click="refuse()" aria-label="Refuse cookies">
            <i class="fa fa-ban" aria-hidden="true"></i>
            Refuse
        </button>
    </div>
</div>