<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">

    <display-name>GhanaWeb</display-name>

    <!-- Overwrite default security configuration -->
    <context-param>
        <param-name>shiroConfigLocations</param-name>
        <param-value>classpath:ghanaweb-shiro.ini</param-value>
    </context-param>

    <filter>
        <filter-name>DynamicResourceLoggingFilter</filter-name>
        <filter-class>dk.dma.embryo.common.servlet.DynamicResourceLoggingFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>DynamicResourceLoggingFilter</filter-name>
        <url-pattern>/rest/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>NoCacheFilter</filter-name>
        <filter-class>dk.dma.embryo.common.servlet.ETagFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>NoCacheFilter</filter-name>
        <url-pattern>*.html</url-pattern>
        <url-pattern>*.js</url-pattern>
        <url-pattern>*.css</url-pattern>
        <url-pattern>*.png</url-pattern>
        <url-pattern>*.jpeg</url-pattern>
        <url-pattern>*.jpg</url-pattern>
        <url-pattern>*.svg</url-pattern>
        <url-pattern>*.kml</url-pattern>
        <url-pattern>*.json</url-pattern>
    </filter-mapping>

    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>

    <mime-mapping>
        <extension>kml</extension>
        <mime-type>application/vnd.google-earth.kml+xml</mime-type>
    </mime-mapping>
</web-app>
